@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700&display=swap');

:root {
    --backgrond: #000;
    --text-color: #FFF;
    --button: #8257E5;
    --border: #29292E;
    --border-menu-mobile: #A8A8B3;
    --text-color-menu-mobile: #E1E1E6;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { 
    background: #b91f1f;
}

body {
    background: rgb(26, 104, 30);
}

.box {
    width: 80vw;
    height: 100vh;
    background: pink;
    display: flex;
    margin: 0 auto;
}

h1 {
    margin: 1vh auto;
}