@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700&display=swap');

:root {
    --backgrond: #000;
    --text-color: #FFF;
    --button: #8257E5;
    --border: #29292E;
    --border-menu-mobile: #A8A8B3;
    --text-color-menu-mobile: #E1E1E6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

html {
    /* a cada 1rem será considera 10px */
    font-size: 62.5%;
}

html,
body {
    height: 100vh;
    font-family: "Manrope", sans-serif;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    font-size: 1.6rem;
}

header {
    background-color: var(--backgrond);
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 980px;
    margin: auto;
}

header .logo {
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    width: 65px;
    margin-left: 20px;
    padding: 15px 0;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

header nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 1.4rem;
    padding: 2.4rem;
    transition: all 250ms linear 0s;
}

header nav ul li a:hover {
    background: rgba(255, 255, 255, 0.15)
}

h2 {
    color: rgb(75, 75, 75);
    font-size: 3.6rem;
    line-height: 4.6rem;
}

h3 {
    color: rgb(75, 75, 75);
    font-size: 2.8rem;
    line-height: 3.8rem;
}

.button {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgb(113, 89, 193);
    margin: 15px 0px 0px;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 150ms linear 0s;
}

.button:hover {
    opacity: 0.9;
}

/* HERO */
section.hero {
    margin: 80px 0;
}

section.hero .container {
    width: 90%;
    max-width: 980px;
    margin: auto;
    display: flex;
}

section.hero p {
    color: rgb(154, 142, 191);
    font-size: 1.8rem;
    line-height: 3.2rem;
    margin: 10px 0px 0px;
}

/* MAIN */
main {
    margin-bottom: 80px;
}